<!DOCTYPE html>
<html>
<head>
	<title>Local Adicionado</title>
</head>
<body>
<p>
	<strong>Title:</strong>
	<%= @local.title %>
</p>

<p>
	<strong>Endereço:</strong>
	<%= @local.endereco %>
</p>

</body>
</html>